In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from statsmodels.formula.api import ols

In [2]:
%matplotlib inline
from matplotlib import style
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

## 분석

In [3]:
plt.rcParams['font.family'] = 'NanumGothic'

In [65]:
df = pd.read_csv('result/scale_data2.csv',encoding='euc-kr')

In [48]:
lo = ['속초', '북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉',
       '동해', '서울', '인천', '원주', '울릉도', '수원', '영월', '충주', '서산', '울진', '청주',
       '대전', '추풍령', '안동', '상주', '포항', '군산', '대구', '전주', '울산', '창원', '광주',
       '부산', '통영', '목포', '여수', '흑산도', '완도', '고창', '순천', '홍성', '제주', '고산',
       '성산', '서귀포', '진주', '강화', '양평', '이천', '인제', '홍천', '태백', '제천', '보은',
       '천안', '보령', '부여', '금산', '부안', '임실', '정읍', '남원', '장수', '고창군', '장흥',
       '해남', '고흥', '봉화', '영주', '문경', '영덕', '의성', '구미', '영천', '거창', '합천',
       '밀양', '산청', '거제', '남해']

# lo = ['속초', '북춘천', '철원', '동두천']

In [66]:
df.head()

,avg_tem,precip,wind,min_tem,hPa,sun,g_tem,start,climax,location,month,start_ori,climax_ori
0,-1.247466,0.402997,0.610378,-1.011473,1.377900,-1.644535,-1.383570,-1.185865,-1.100662,속초,1,286,297
1,-1.115408,-0.371672,0.425066,-0.907514,1.280241,-0.679134,-1.274240,-1.185865,-1.100662,속초,2,286,297
2,-0.763254,0.062636,0.981002,-0.585241,0.874578,-0.198700,-0.856801,-1.185865,-1.100662,속초,3,286,297
3,-0.047939,-0.826770,0.981002,-0.075842,0.596625,0.995587,-0.051739,-1.185865,-1.100662,속초,4,286,297
4,0.403259,-0.360121,1.258970,0.443953,0.393794,1.575734,0.395517,-1.185865,-1.100662,속초,5,286,297

In [57]:
result = pd.DataFrame({'location':lo})

In [68]:
for j in range(len(lo)):
    error = []

    for i in range(len(lo)):
        cond1 = (df.month == 9) & (df.location == f'{lo[j]}')
        cond2 = (df.month == 9) & (df.location == f'{lo[i]}')

        train = df[cond1]
        test = df[cond2]

        LR = Ridge(alpha=0.0001)


        X = train.iloc[:,[0,3,6]]
        y = train.iloc[:,[8]]

        X_test = test.iloc[:,[0,3,6]]
        y_test = test.iloc[:,[8]] 


        LR.fit(X,y)

        pred = LR.predict(X_test)

        # result = pd.DataFrame({'year':test.year,'climax':test.climax,'pred':pred.reshape(1,-1)[0]})
        error.append(round(np.sqrt(mean_squared_error(pred, y_test)),2))
        # print(np.sqrt(mean_squared_error(pred, y_test)))
    result[f'{lo[j]}'] = error

In [70]:
result.to_csv('regression/Ridge_result.csv',encoding='cp949',index=False)